/*Создать программу которая будет находить и создавать в текстовом файле н-ное количество чисел от 0 до 1000000, числа,
у которых встречается ноль или пятерка и записывать их в другой файл. Те выбраные числа, которые имеют АСКИ код переписать
в третий файл. А те, аски код которых означает кириллицу/латинницу переписать в четвертый.
Программа должна создать еще 2 документа с рандомными наборами чисел (опционально: чтобы рандомно сгенерированые числа второго
документа не пересекались с числами 1, а 3 документа с числами 1 и 2), для которых проделать те же операции.
После этого проверить все числа из каждого третьего документа, и если в документе встретятся буквы "Б И Н Г О" или "B I N G O"
в любом порядке то выдавать сигнал "БИНГО!". Если буквы такие не встретились, то выдать фразу "Вам не повезло, хотите повысить
шанс успеха?". При согласии в файл с буквами добавить рандомное число букв от 0 до 10. После 2-й неудачи вывести сообщение
и продолжить программу. Следующим шагом будет запись любого числа пользователем от 0 до 1 000 000. Если в файле встречается
число равное заданному числу (которое вводит пользователь), то его вывести на экран и дать возможность пользователю решить, что
с ним делать: умножить его само на себя или разделить на половину своего числа. Проверить это число, если оно равно какому-то
числу из текстового файла, то оповестить пользователя об этом. Если пользователь вводит данные неподходящего типа или
не вмещающиеся в рамки дозволенной нормы, то придумать список ошибок под кодировкой и при написании слова "help" выводить список
расшифровки ошибок. Использовать функции с параметрами и структуры.*/

# include <iostream>
